body {
    background: #f5f7fa;
}

.card {
    border: none;
    background: #ffffff;
    border-radius: 20px;
}

textarea {
    font-size: 16px;
}

.btn-primary {
    background: #4a90e2;
    border: none;
    padding: 12px;
    font-size: 18px;
}

.btn-primary:hover {
    background: #357ABD;
}

.alert {
    border-radius: 12px;
}
